//- Information for the wedding and celebrations.
include mixins/wedding.pug

div.row
    .col-md-8.col-sm-12
        +wedding_info('Wedding', 'Tuesday, 15 January 2019', 'Maui, Hawaii', 'Cocktail', '', '')
            p 
                | Please bear in mind that we will be standing on grass for the 
                | ceremony so suitable footwear is advised.
            p
                | ** More details to be provided in 2018 when numbers are 
                | confirmed so please continue to check our website **
            p
                | At this stage Teejay and Elisha are planning on arriving in 
                | Hawaii on Thursday 10/Friday 11 January 2019.
            p 
                | For those arriving a few days early, we will be sending out 
                | information including some site-seeing/events we will be 
                | running if you wish to join us.
    .col-md-4.col-sm-12.vertical-center-no-flex
        iframe(
            width='100%',
            height='300',
            frameborder='0'
            style='border:0',
            src='https://www.google.com/maps/embed/v1/view?zoom=9&center=20.7984%2C-156.3319&key=AIzaSyACM0kttcdeBCHvxzJwfS6Rs7LoGknuANc',
            allowfullscreen
        )

div.row.with-padding
    h3.text-center
        | We understand Hawaii is far, so we would like to invite you to our 
        | after wedding celebrations…

div.row
    .col-md-8.col-sm-12
        +wedding_info('Celebration 1.0', 'Saturday, 19 January 2019', 'London, England', 'Smart Casual/Cocktail', 'TBC', "It's party time!!")
            p 
                | Please join us to celebrate the wedding. We would love for you
                | to join us to share our experience in Hawaii with pictures and 
                | stories with our friends and family who weren't able to join 
                | us (and those that could &#x1F601; ).
            p Food, drinks and entertainment will be provided.

    .col-md-4.col-sm-12.vertical-center-no-flex
        iframe(
            width='100%',
            height='300',
            frameborder='0'
            style='border:0',
            src='https://www.google.com/maps/embed/v1/view?zoom=9&center=51.8098%2C-0.2377&key=AIzaSyACM0kttcdeBCHvxzJwfS6Rs7LoGknuANc',
            allowfullscreen
        )
div.row
    .col-md-8.col-sm-12
        +wedding_info('Celebration 2.0', 'Saturday, 2 February 2019', 'Ocean Reef, Perth, Western Australia', 'Smart Casual/Cocktail', 'TBC', "It's party time!!")
            p 
                | Please join us to celebrate the wedding. We would love for you
                | to join us to share our experience in Hawaii with pictures and 
                | stories with our friends and family who weren't able to join 
                | us (and those that could &#x1F601; ).
            p Food, drinks and entertainment will be provided.

    .col-md-4.col-sm-12.vertical-center-no-flex
        iframe(
            width='100%',
            height='300',
            frameborder='0'
            style='border:0',
            src='https://www.google.com/maps/embed/v1/view?zoom=13&center=-31.7520%2C115.7350&key=AIzaSyACM0kttcdeBCHvxzJwfS6Rs7LoGknuANc',
            allowfullscreen
        )