html
    head
        title Elisha &amp; Teejay&apos;s Wedding

        meta(charset='UTF-8')
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        )
        meta(
            http-equiv='Cache-Control',
            content='max-age=2592000'
        )
        meta(
            name='description',
            content='Elisha and Teejay are getting married! RSVP and find out ' +
                'more info regarding the couple and the wedding.'
        )

        //- Google Fonts.
        link(
            href='https://fonts.googleapis.com/css?family=Old+Standard+TT'
            rel='stylesheet'
        )

        //- Bootstrap Style sheet.
        link(
            href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
            rel='stylesheet'
            integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' 
            crossorigin='anonymous'
        )
        //- Main Style sheet.
        link(rel='stylesheet', href='css/style.min.css')

        //- JQuery.
        script(src='https://code.jquery.com/jquery-2.2.4.min.js')
        //- Bootstrap JS.
        script(
            src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' 
            integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa'
            crossorigin='anonymous'
        )
        //- Countdown JS.
        script(src='js/countdown.js')
        //- Time line JS.
        script(src='js/timeline.min.js')
        //- Main JS.
        script(src='js/scripts.min.js')


    body.site
        div.site-content
            //- The Jumbotron
            div.jumbotron-fluid.vertical-center
                div.container.text-center
                    h1.main-header ELISHA &amp; TEEJAY
                    h4 are getting married in
                    h5#countdown
                
            .container
                //- The couple section.
                div.section
                    div#the-couple.row
                        .col-md-6.col-md-offset-3.first-image
                            img.img-responsive.img-thumbnail(src='img/one.JPG', alt='The Couple')

                //- Time line.
                div.section
                    h2.text-center The time(line) of our lives
                    h4.text-center
                        | 
                        i click through for our story so far
                    include includes/timeline

                div.section
                    include includes/wedding.pug

                //- RSVP Form.
                div.section#form
                    include includes/form
                    include includes/footer
